<owl-carousel-o [options]="customOptions" (translated)="updateRate($event)">
    <ng-container *ngFor="let item of dataToDisplay, let index">
        <ng-template carouselSlide dataHash="index">
            <div class="slide">
                <div class="rate">
                    <span class="label">{{item.base}} : {{item.rate}}</span>
                    <span class="value">{{item.value | currency : item.rate }}</span>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
